.checkout-ad {
    width: 80%;
    margin-top: 10px;
    height: 170px;
    background-color: white;
}
.checkout-title {
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkou {
    width: 90%;
    margin-top: 20px;
}
.checkout-right {
    position: absolute;
    top: 120px;
    right: 0;
}
.checkout-page {
    width: 98%;
    margin: 0 auto;
}
/* p.banner-add {
    position: absolute;
    top: 53%;
    left: 28%;
    font-size: 40px;
    font-weight: 500;
    color: #b3b332;
} */
.empty-msg {
    margin-top: 15px;
    width: 100%;
}