.checkout-products {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    /* box-shadow: rgba(178, 190, 216, 0.2) 0px 8px 24px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .checkout-roduct-image {
    object-fit: contain;
    width: 100px;
    height: 100px;
} */
.checkout-products >img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}
.checkoutProduct-info {
    padding-left: 20px;
}
.checkout-product-rating {
    display: flex;
}
.checkoutProduct-info > button {
    background-color: orange;
    columns: #000000;
    margin-top: 10px;
    border: 1px solid;
}
.checkout-product-title {
    font-size: 18px;
    font-weight: 800;
}