.home {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.home-image {
    width: 100%;
    height: 600px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0,0));
    z-index: -1;
    margin-bottom: -350px;
}
.display-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 150px;
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    .home {   
        max-width: 750px;
        margin-left: auto;
        margin-right: auto; }
    .home-image {
       
    }
    .display-grid {
        display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
    margin-top: 150px;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 320px) and (max-width: 767px) {
    
    .home {   
        max-width: 550px;
        margin-left: auto;
        margin-right: auto; }
    .home-image {
       
    }
    .display-grid {
        display: grid;
    grid-template-columns: auto;
    padding: 10px;
    margin-top: 150px;
    }
    
  }
  
 