.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 286px;
    height: 114px;
    padding: 20px;
    background: #ffffff;
    border: 10px solid #dddddd;
    border-radius: 3px;
    margin-top: 8px;
    border-color: beige;
}
.subtotal-gift > input {
    margin-right: 5px;
}
.subtotal-gift {
    display: flex;
    align-items: center;
}
.subtotal > button {
    background-color: #000000;
    border: 1px solid;
    width: 100%;
    margin-top: -14px;
    color: #ffffff;
    margin-right: 17px;
    font-size: 16px;
    font-weight: 800;
    padding: 12px;
}